// Project colors

// Brand colors

$background: #E9F2F6;
$background-2: #3B3A3A;

// Primary colors

$primary-green: #144E52;
$green-medium: #26969D;
$green-light-1: #2BABB3;

// Secondary colors

$secondary-green: #81ECEC;
$green-light-2: #E1EDF3;
$white-green: #E9F2F6;

// Auxiliary colors

$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

// White colors

$white: #E1EDF3;
$white-light: #FBFFFC;
$white-dark: #EAEFEE;

// Black colors
$black: #232224;
$black-light: #353436;
$black-dark: #161617;

// Gray colors
$gray-1: #454446;
$gray-2: #555456;
$gray-3: #666566;
$gray-4: #767576;
$gray-5: #868587;
$gray-6: #969597;
$gray-7: #A6A6A7;
$gray-8: #E9ECEF;

// Accordion
$accordion-bg: #4A4A4A;

// Gradient

$gradient-1: linear-gradient(127.44deg, #19D4F0 -15.4%, #2BABB3 100%);
