footer {
    background: $primary-green;
}

.footer-items {
    align-items: flex-start !important;
}

.weight-normal {
    font-weight: 500;
}

.footer-socials {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        color: $white;
        opacity: 1;
        font-size: 2.4rem;
    }

    li {
        margin: 0 0 0 24px;
    }
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        margin: 0 0 0 24px;
    }

    a {
        color: $white;
        opacity: 1;
        font-size: 1.2rem;
    }

    p {
        font-size: 1.2rem;
        color: $white;
    }
}

.artmed-white {
    width: 140px;
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;

    border-top: 2px solid $green-medium;

    padding: 24px;

    @include responsive(s) {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .artmed-white {
            margin-bottom: 24px;
        }
    }
}