// Project layout

// Container devices

$container-xxl: 1620px;
$container-xl: 1440px;
$container-l: 1140px;
$container-m: 960px;
$container-s: 325px;

// Mixins
@mixin responsive($device) {
  @if $device == xxl {
    //For resolutions upper than 1620px
    @media screen and (min-width: $container-xl) {
      @content;
    }
  }

  @else if  $device == xl {
    // For resolutins between 1440px and 1620px
    @media screen and (max-width: $container-xxl) and (min-width: $container-xl) {
      @content;
    }
  }

  @else if  $device == l {
    // For resolutins between 1140px and 1440px
    @media screen and (max-width: $container-xl) and (min-width: $container-l) {
      @content;
    }
  }

  @else if  $device == m {
    // For resolutins between 960px and 1140px
    @media screen and (max-width: $container-l) and (min-width: $container-m) {
      @content;
    }
  }

  @else if  $device == s {
    // For resolutins less than 960px
    @media screen and (max-width: $container-m) {
      @content;
    }
  }

  @else if  $device == xs {
    // For resolutins less than 400px
    @media screen and (max-width: $container-s) {
      @content;
    }
  }
}

.container {
  max-width: $container-xl;
  margin: 0 auto;
  padding: 96px 24px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  overflow: hidden;

  @include responsive(s) {
    flex-direction: column;
    padding: 32px 18px;
  }
}

.border {
  border: 2px solid red;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-item-1 {
  flex: 1 1 360px;
}

.flex-item-2 {
  flex: 2 1 360px;
}

.flex-item-3 {
  flex: 3 1 360px;
}

.flex-item-4 {
  flex: 4 1 360px;
}

.flex-item-5 {
  flex: 5 1 360px;
}

.flex-item-auto {
  flex: 2 1 auto;
}

.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.w-75 {
  width: 75%;
}

.w-50 {
  width: 50%;
}

.w-25 {
  width: 25%;
}

.hidden {
  overflow: hidden;
}

// HERO
.hero {
  height: 90vh;
  position: relative;

  @include responsive(s) {
    height: auto;
  }
}

.bg-home {
  width: 100%;
  height: 100%;
  overflow: hidden;

  position: absolute;
  z-index: -1;
}

.svg-bg-home {
  width: 150%;

  @include responsive(s) {
    width: 350%;
  }

  @include responsive(xl) {
    width: 100%;
  }
  
  @include responsive(xxl) {
    width: 100%;
  }
}

.video {
  position: relative;
  padding: 200px;
  margin-top: 72px;

  @include responsive(s) {
    margin: 0;
    padding: 50px 200px;
    transform: translate3d(0, -160px, 0);
  }
  
  @include responsive(xs) {
    display: none;
  }

  iframe {
    position: absolute;
    border: none;
    width: 80%;
    height: 90%;

  
    @include responsive(s) {
      padding: 24px;
      width: 90%;
      height: 55%;
    }
  }
}

.mais {
  @include responsive(s) {
    display: none;
  }

  @include responsive(l) {
    display: none;
  }
}
.mais_1 {
  @include responsive(s) {
    display: none;
  }
}
.mais_2 {
  @include responsive(s) {
    display: none;
  }

  @include responsive(l) {
    display: none;
  }
}
.mais_3 {
  @include responsive(s) {
    display: none;
  }
}
.mais_4 {
  @include responsive(s) {
    display: none;
  }
}

.capacitados {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);

  @include responsive(xxl) {
    width: 40%;
  }

  @include responsive(s) {
    width: 80%;
  }
  
  @include responsive(xs) {
    width: 75%;
  }
  
  @include responsive(l) {
    width: 35%;
  }

  @include responsive(xl) {
    width: 35%;
  }
}

.artmed {
  margin-top: 144px;

  @include responsive(s) {
    margin: 0;

    transform: translate3d(0,-100px,0);
  }
}

.logomarcas {
  width: auto;

  svg {
    transform: scale(0.6);
  }

  @include responsive(s) {
    svg {
      transform: scale(1);
    }
  }
}

.main-text {
  @include responsive(s) {
    transform: translate3d(0,-80px,0);
  }
}

.cronologia {
  transform: translate3d(0,-120px,0);

  @include responsive(s) {
    display: none;
  }
}

.crono-items {
  display: none;
  
  @include responsive(s) {
    display: block;
    margin-top: -180px;
  }
}

.marcas {
  background-color: $background-2;

  h3 {
    color: $white;
    letter-spacing: 2px;
  }
}

.content {
  p {
    color: $white;
  }
}

.accordion-logo {
  width: 10%;
  height: 72px;

  @include responsive(s) {
    width: 25%;
    height: 42px;
  }
}

.accordion-large {
  width: 12%;
  height: 72px;

  @include responsive(s) {
    width: 30%;
    height: 42px;
  }
}

.accordion {
  width: auto;
  margin-top: -100px;

  @include responsive(s) {
    margin: 0;
  }

  .contentBx {
    position: relative;
    margin: 10x 20px;
    width: 1100px;

    @include responsive(s) {
      width: auto;
    }

    .label {
      position: relative;
      padding: 10px;
      background: $accordion-bg;
      cursor: pointer;
      border-radius: 10px 10px 0px 0px;

      &::before {
        content: '+';
        position: absolute;
        top: 40%;
        right: 30px;
        transform: translate(-50%);
        font-size: 2.4rem;
        font-weight: bold;
        color: $secondary-green;
        transition: .5s ease;
      }

      &::after {
        position: absolute;
        content: '';
        width: 0%;
        height: 3px;
        background: $gradient-1;
        transition: .5s ease;

        top: 100%;
      }

      &:hover::after {
        width: 100%;
      }
    }

    .content {
      position: relative;
      margin-bottom: 16px;
      background: $accordion-bg;
      height: 0;
      overflow: hidden;
      transition: .5s ease;
      border-radius: 0 0 10px 10px;

      p {
        width: 70%;
        padding: 16px;
        background-color: $background-2;
        border-radius: 10px;
        text-align: center;

        @include responsive(s) {
          width: auto;
        }
      }
    }
  }
}

.accordion .contentBx.active-accordion {
  .content {
    height: auto;
    padding: 16px;
  }

  .label {
    &::before {
      transform: rotate(45deg);
      transition: .5s ease;
    }
  }
}