// Project typography

@mixin typeface-Alata($size: h1, $device: desktop) {
  font-family: 'Alata', sans-serif;

  // H1
  @if $size == h1 and $device == desktop {
    font-size: 5.4rem;
    line-height: 120%;
  }@else if $size == h1 and $device == mobile {
    font-size: 3.6rem;
    line-height: 120%;
  }

  // H2
  @else if $size == h2 and $device == desktop {
    font-size: 5.2rem;
    line-height: 100%;
  }@else if $size == h2 and $device == mobile {
    font-size: 3.6rem;
    line-height: 120%;
  }

  // H3
  @else if $size == h3 and $device == desktop {
    font-size: 3.6rem;
    line-height: 120%;
  }@else if $size == h3 and $device == mobile {
    font-size: 2.4rem;
    line-height: 120%;
  }

  // H4
  @else if $size == h4 and $device == desktop {
    font-size: 2.4rem;
    line-height: 130%;
  }@else if $size == h4 and $device == mobile {
    font-size: 1.8rem;
    line-height: 130%;
  }

  // H5
  @else if $size == h5 and $device == desktop {
    font-size: 1.8rem;
    line-height: 150%;
  }@else if $size == h5 and $device == mobile {
    font-size: 1.6rem;
    line-height: 150%;
  }
}

@mixin typeface-Lato($size: p2, $device: desktop) {
  font-family: 'Lato', sans-serif;

  //P1
  @if $size == p1 and $device == desktop {
    font-size: 2.4rem;
    line-height: 130%;
  }@else if $size == p1 and $device == mobile {
    font-size: 1.8rem;
    line-height: 130%;
  }

  // P2
  @else if $size == p2 and $device == desktop {
    font-size: 1.6rem;
    line-height: 140%;
  }@else if $size == p2 and $device == mobile {
    font-size: 1.4rem;
    line-height: 150%;
  }
  
}

h1 {
  color: $white;
  @include typeface-Alata(h1, desktop);

  @include responsive(s) {
    @include typeface-Alata(h1, mobile);
  }
}

.h1-center {
  @include responsive(s) {
    text-align: center;
  }
}

.p-center {
  @include responsive(s) {
    text-align: center;
  }
}

h2 {
  color: $black-dark;
  @include typeface-Alata(h2, desktop);

  @include responsive(s) {
    @include typeface-Alata(h2, mobile);
  }
}

h3 {
  color: $black-dark;
  @include typeface-Alata(h3, desktop);

  @include responsive(s) {
    @include typeface-Alata(h3, mobile);
  }
}

h4 {
  color: $black-dark;
  @include typeface-Alata(h4, desktop);

  @include responsive(s) {
    @include typeface-Alata(h4, mobile);
  }
}

h5 {
  text-transform: uppercase;
  background: linear-gradient(127.44deg, #19D4F0 -15.4%, #2BABB3 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;

  @include typeface-Alata(h5, desktop);

  @include responsive(s) {
    @include typeface-Alata(h5, mobile);
  }
}

p {
  color: $gray-3;

  @include typeface-Lato(p2, desktop);

  @include responsive(s) {
    @include typeface-Lato(p2, mobile);
  }
}

.p-color {
  color: $gray-8;
}

.bold {
  font-weight: bold;
  color: $black-light;
}

strong {
  color: $black-dark;
  @include typeface-Lato(p2, desktop);

  @include responsive(s) {
    @include typeface-Lato(p2, mobile);
  }
}

.text-center {
  text-align: center;
}